div.container { padding-left: 10px; font-family: 'Times New Roman' 宋体; }
.center { text-align: center; }
.size1 { font-size: 24pt; font-weight: bold; }
.red { color: #ff0000; }
.size2 { font-size: 16pt; font-weight: bold; }
.indent { text-indent: 150px each-line; }
.size3 { font-size: 12pt; }
.bold { font-weight: bold; }